@use '../../src/variables.scss' as vars;

.custom-button {
	margin-top: 1rem;
	background-color: vars.$secondary-bg !important;
	color: vars.$text-color !important;
	border: unset !important;
	
	&:hover {
		background-color: vars.$primary-accent !important;
	}
}

