@use '../../../kvirtivity-website/src/variables.scss' as vars;

.footer-flag {
	color: vars.$primary-accent;
	position: fixed;
	bottom: 0;
	left: 0;
	z-index: 1000;
	padding: 0.5rem;
	background-color: vars.$secondary-bg;
	border-top-right-radius: 1rem;
	& i {
		color: vars.$primary-accent;
	}
}

/* Mobile Devices (768px and below) */
@media (max-width: 768px) {
	.footer-flag {
		position: unset;
		background-color: vars.$secondary-bg;
		border-radius: unset;
		display: flex;
		justify-content: center;

		.contactme {
			display: none;
		}
	}
}
