@use '../../../src/variables.scss' as vars;

svg image {
	filter: grayscale(100%);
	transition: filter 0.3s ease;
}
svg .path-blue:hover ~ image[clip-path="url(#clip-blue)"],
svg image[clip-path="url(#clip-blue)"]:hover, // Add hover effect for the image itself
svg .path-pink:hover ~ image[clip-path="url(#clip-pink)"],
svg image[clip-path="url(#clip-pink)"]:hover, // Add hover effect for the image itself
svg .path-yellow:hover ~ image[clip-path="url(#clip-yellow)"],
svg image[clip-path="url(#clip-yellow)"]:hover { // Add hover effect for the image itself
	filter: grayscale(0%); // Restore the image's original colors on hover
}
svg
.path-blue:hover,
.path-pink:hover,
.path-yellow:hover {
	filter: blur(5px);
}

.about-text-column {
	font-size: 1.2rem;
	strong {
		margin-bottom: 2rem;
	}
}

.about-text-column {
	display: flex;
	flex-direction: column;
	justify-content: start;
}

// Tablets & Small Laptops (768px and below)
@media (max-width: 768px) {
	.about-svg-column svg {
		margin-top: 3rem;
		width: 80%;
		height: auto;
	}

	.about-text-column {
		font-size: 1rem;
	}

	.text-svg-row {
		display: flex;
		flex-direction: column-reverse
	}

	.about-svg-column {
		display: flex;
		justify-content: center !important;
		align-items: center;
	}
}