@use '../../../src/variables.scss' as vars;

.calendar-container {
	background-color: vars.$primary-bg;

	h1 {
		color: vars.$title-color;
	}

	.events-wrapper {
		.events-container {
			display: grid;
			grid-template-columns: repeat(4, 1fr);
			gap: 30px;
			.card {
				width: 300px;
				height: 300px;
				border: 2px solid vars.$title-color;
				position: relative;
				overflow: visible !important;
				background-color: vars.$text-color;
				--bs-card-border-color: none !important;
				box-shadow: rgba(240, 46, 170, 0.4) -5px 5px, rgba(240, 46, 170, 0.3) -10px 10px, rgba(240, 46, 170, 0.2) -15px 15px, rgba(240, 46, 170, 0.1) -20px 20px, rgba(240, 46, 170, 0.05) -25px 25px;
				&:hover {
					background-color: vars.$secondary-bg;
					cursor: pointer;
					transform: translateY(-10px); // Makes the card lift slightly
					box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); // Adds a shadow effect
					transition: transform 0.3s ease, box-shadow 0.3s ease; // Smooth transition
					h4 {
						color: vars.$primary-bg;
					}
					p {
						color: vars.$title-color !important;
					}
				}

				h4 {
					color: vars.$title-color;
					font-family: vars.$primary-font;
					font-weight: 600;
				}

				p {
					color: vars.$primary-bg !important;
					font-weight: 600;
				}

				.date-square {
					background-color: vars.$accent-color;
					opacity: 0.9;
					color: vars.$primary-bg;
					transition: all 0.4s ease-in-out; // Smooth transition
					width: 60px;
					height: 60px;
					border-radius: 4px 0 4px 0; // Default square shape
					clip-path: none; // Initially no special shape
					display: flex;
					flex-direction: column;
					justify-content: center;
					align-items: center;
					font-size: 0.8rem;
					position: absolute;
					top: 10px;
					left: 10px;
					z-index: 1;
				}
			}
		}
	}
}
