.event-close-btn {
	margin-top: -3rem;
	--bs-btn-border-color: none !important;
	&:hover {
		background-color: transparent !important;
		color: red !important;
	}
}

.single-event-image {
	height: 20rem;
	width: auto;
	object-fit: contain;
}