@use '../../../src/variables.scss' as vars;

.single-event-container {
	background-color: vars.$secondary-bg;
	border: 2px solid vars.$title-color;
	border-radius: 0.5rem;

	h2 {
		color: vars.$title-color;
	}

	p, i{
		color: vars.$primary-bg;
		font-weight: 600;
	}
}

.event-close-btn {
	--bs-btn-border-color: none !important;
	cursor: pointer;
}

span.event-close-btn svg polygon:hover {
	fill: vars.$text-color;
}

.single-event-image {
	height: 20rem;
	width: auto;
	object-fit: contain;
}

.add-to-calendar-button {
	.btn {
		border-radius: 50%;
		margin-bottom: 1rem;
	}
	.btn:hover {
		color: red;
	}
}
