@use '../../../src/variables.scss' as vars;

.gallery-container {
	background-color: vars.$primary-bg;

	h1 {
		color: vars.$text-color;
	}

	.gallery-images-container {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		grid-template-rows: auto;
		grid-column-gap: 30px;
		grid-row-gap: 30px;
	}
}

/* Tablets & Small Laptops (992px and below) */
@media (max-width: 992px) {
	.gallery-container {
		.gallery-images-container {
			grid-template-columns: repeat(2, 1fr);
			grid-column-gap: 20px;
			grid-row-gap: 20px;
		}
	}
}

/* Tablets & Small Laptops (500px and below) */
@media (max-width: 500px) {
	.gallery-container {
		h1 {
			margin-bottom: 3rem;
		}

		.gallery-images-container {
			grid-template-columns: repeat(1, 1fr);
			grid-column-gap: 20px;
			grid-row-gap: 20px;
		}
	}
}
