@font-face {
	font-family: 'Londrina Solid';
	src:url('/fonts/LondrinaSolid-Regular.woff'),
	url('/fonts/LondrinaSolid-Regular.woff2');
	font-weight: normal;
    font-style: normal;
}

@font-face {
	font-family: 'Open Sans';
	src:url('/fonts/OpenSans-Regular.woff'),
	url('/fonts/OpenSans-Regular.woff2');
	font-weight: normal;
	font-style: normal;
}

:root {
	height: 100%;
	line-height: 1.5;
	font-weight: 400;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body, html {
	--bs-body-font-family: 'Open Sans', Arial, sans-serif;
	h1, h2, h3, h4, h5, h6 {
		font-family: 'Londrina Solid', Arial, sans-serif;
	}
}

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html, body, :root, #root {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}

.title-row {
	margin-top: 3rem !important;
}

.x-icon-row {
	width: 100%;
}

@media (max-width: 768px) {
	.title-row {
		margin-top: unset !important;
		text-align: center;
	}

	.x-icon-row {
		width: 100%;
	}
}
