$primary-bg: #011034; // Oxford blue
$title-color: #fe00ec; //  Fuchsia
$text-color: #02C9AF; // Turquoise
$secondary-bg: #EAD637; // Citrine
$accent-color: #EFE9F4; // Magnolia


$primary-font: "Open Sans", serif, Arial, sans-serif;
$accent-font: "Londrina Solid", sans-serif, Arial, sans-serif; //Font weights: 100/300/400/900

// #686963 Dim Gray
// #F1EDEE white smoke

// #EAD637 Citrine
// #CDCACC Silver || #FCF0CC Cornsilk || #EFE9F4 Magnolia

// $secondary-bg: #2B4F8D;
// $accent-color: #049CE4;
