$primary-bg: #061826; // Rich black
$title-color: #FF1493; //  Deep pink
$text-color: #00FFFF; // Cyan
$secondary-bg: #FFFF33; // Yellow
$accent-color: #FEFEFF; // White

$primary-font: "Open Sans", serif, Arial, sans-serif;
$accent-font: "Londrina Solid", sans-serif, Arial, sans-serif; //Font weights: 100/300/400/900

