$text-color: #061826; // Rich black
$primary-bg: #FEFEFF; // White
$secondary-bg: #00FFFF; // Cyan
$primary-accent: #ff1493; //  Deep pink
$secondary-accent: #FFFF33; // Yellow

$primary-font: "Open Sans", serif, Arial, sans-serif;
$accent-font: "Londrina Solid", sans-serif, Arial, sans-serif; //Font weights: 100/300/400/900

